@font-face {
    font-family: 'icomoon';
    src: url('../assets/icons/icomoon.eot?runczu');
    src: url('../assets/icons/icomoon.eot?runczu#iefix') format('embedded-opentype'),
        url('../assets/icons/icomoon.ttf?runczu') format('truetype'),
        url('../assets/icons/icomoon.woff?runczu') format('woff'),
        url('../assets/icons/icomoon.svg?runczu#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-telegram:before {
    content: "\e934";
}

.icon-whatsapp:before {
    content: "\e935";
}

.icon-filters:before {
    content: "\e933";
}

.icon-list:before {
    content: "\e932";
}

.icon-phone-solid:before {
    content: "\e92e";
}

.icon-place-solid:before {
    content: "\e92f";
}

.icon-calendar-solid:before {
    content: "\e930";
}

.icon-inbox-solid:before {
    content: "\e931";
}

.icon-print:before {
    content: "\e92d";
}

.icon-chat:before {
    content: "\e92c";
}

.icon-download:before {
    content: "\e92a";
}

.icon-trash:before {
    content: "\e92b";
}

.icon-info:before {
    content: "\e924";
}

.icon-select:before {
    content: "\e925";
}

.icon-inbox:before {
    content: "\e926";
}

.icon-logout:before {
    content: "\e927";
}

.icon-edit:before {
    content: "\e928";
}

.icon-open:before {
    content: "\e929";
}

.icon-loading:before {
    content: "\e923";
}

.icon-planet:before {
    content: "\e921";
}

.icon-package:before {
    content: "\e922";
}

.icon-vk:before {
    content: "\e91d";
}

.icon-facebook:before {
    content: "\e91e";
}

.icon-twitter:before {
    content: "\e91f";
}

.icon-instagram:before {
    content: "\e920";
}

.icon-image:before {
    content: "\e91c";
}

.icon-moon:before {
    content: "\e91a";
}

.icon-sun:before {
    content: "\e91b";
}

.icon-avatar:before {
    content: "\e919";
}

.icon-lock:before {
    content: "\e916";
}

.icon-user:before {
    content: "\e917";
}

.icon-minus:before {
    content: "\e918";
}

.icon-place:before {
    content: "\e900";
}

.icon-cart:before {
    content: "\e901";
}

.icon-email:before {
    content: "\e902";
}

.icon-phone:before {
    content: "\e903";
}

.icon-warning:before {
    content: "\e904";
}

.icon-link:before {
    content: "\e905";
}

.icon-right:before {
    content: "\e906";
}

.icon-down:before {
    content: "\e907";
}

.icon-left:before {
    content: "\e908";
}

.icon-up:before {
    content: "\e909";
}

.icon-fav:before {
    content: "\e90a";
}

.icon-success:before {
    content: "\e90b";
}

.icon-check:before {
    content: "\e90c";
}

.icon-close:before {
    content: "\e90d";
}

.icon-home:before {
    content: "\e90e";
}

.icon-search:before {
    content: "\e90f";
}

.icon-add:before {
    content: "\e910";
}

.icon-error:before {
    content: "\e911";
}

.icon-arrow-right:before {
    content: "\e912";
}

.icon-arrow-down:before {
    content: "\e913";
}

.icon-arrow-left:before {
    content: "\e914";
}

.icon-arrow-up:before {
    content: "\e915";
}