.footer {
    border-top: 1px solid var(--border);
    padding: var(--field) 0;
    font-size: var(--fz-smaller);

    .inner {
        display: flex;
        justify-content: space-between;

        .col {
            max-width: 25%;
            display: flex;
            flex-direction: column;

            p {
                color: var(--text-grey);
            }

            & > *:not(:last-child) {
                margin-bottom: 1.5rem;
            }

            .social {
                display: flex;
    
                & > *:not(:last-child) {
                    margin-right: 1rem;
                }
    
            }

            nav {

                ul {
                    list-style: none;

                    li {

                        &:not(:last-child) {
                            margin-bottom: 0.5rem;
                        }

                        a {
                            color: var(--text-grey);
                            text-decoration: none;
                        }

                    }

                }

            }

            button {
                margin-top: auto;
            }

            .links {
                margin-top: auto;

                a {
                    display: block;
                    color: var(--text-grey);

                    &:hover {
                        color: var(--theme);
                    }

                }

            }

            .copyright {
                color: var(--text-grey);
            }

        }

    }

}

@media (max-width: 768px) {

    .footer {

        .inner {
            flex-wrap: wrap;

            .col {
                width: 100%;
                max-width: 100%;

                &.nav {
                    width: calc(50% - 3rem);
                }

                &:not(:last-child) {
                    margin-bottom: 3rem;
                }

            }

        }

    }

}

@media (min-width: 768px) and (max-width: 1200px) {

    .footer {

        .inner {
            flex-wrap: wrap;
            margin: -2rem 0;

            .col {
                width: calc(50% - 3rem);
                max-width: 100%;
                margin: 2rem 0;

                &.nav {
                    order: -1;
                }

            }

        }

    }

}

@media (min-width: 1200px) and (max-width: 1300px) {

}